{% extends "mobile/base.html" %}
{% load bootstrap3 %}
{% block header %}
  <h2>Handbook</h2>
  <h4>delete</h4>
{% endblock header %}
{% block content %}
  <form action="{% url 'users:handbook_delete' handbook.id %}" method='post'>
    {% csrf_token %}
      <div class="row">
         <div class="col-xs-12 col-sm-2">
           {% bootstrap_field form.handbook_model %}
         </div>
         <div class ="col-xs-12 col-sm-2">
           {% bootstrap_field form.designation %}
         </div>
      </div>
    {% buttons %}
       <div class="row">
          <div class="col-sm-offset-10 ">
            <button name="submit" class="btn btn-primary">delete</button>
            <a href="{% url 'users:handbook' %}" class="btn btn-danger" >
		    отменить</a>
          </div>
        </div>
      {% endbuttons %}
  </form>
{% endblock content %}