{% extends "mobile/base.html" %}
{% load bootstrap3 %}
{% block header %}
   <h2>Individual</h2>
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-3">
       <ul class="rounded">
           <li><a href="{% url 'users:service_prices' %}"><h3>Service prices</h3></a></li>
           <li><a href="{% url 'mobile:telephones' %}"><h3>Telephones</h3></a></li>
           <li><a href="{% url 'users:details' %}"><h3>Details</h3></a></li>
           <li><a href="{% url 'users:handbook' %}"><h3>Handbook</h3></a></li>
           <li><a href="{% url 'users:settings' %}"><h3>Settings</h3></a></li>
       </ul>
     </div>
       
     <div class="col-xs-12 col-sm-3">
     </div>
  </div>

{% endblock content %}
