{% extends "mobile/base.html" %}
{% load bootstrap3 %}
{% block header %}
  <h2>Log in to your account.</h2>
{% endblock header %}
{% block content %}
  <form method="post" action="{% url 'users:login' %}" class="form" autocomplete="off">
{% csrf_token %}
  <div class="row">
    <div class="col-sm-4">
    {% bootstrap_field form.username %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    {% bootstrap_field form.password %}
    </div>
  </div>
    {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
<input type="hidden" name="next" value="{% url 'mobile:telephones' %}" />
</form>
{% endblock content %}
